img{
    display:block;
    max-width:100%;
    border-radius:3px;
}

.navbar-brand{
    background-image:url(../image/logo.jpg);
    width:auto;
    background-size:100%;
    background-repeat:no-repeat;
    background-position:center center;
}

.side-bar .list-group-item{
    border:0;
    border-radius:3px;
    margin-bottom:8px;
    
}

.book-list .book-list-item .book-image{
    display:block;
    max-width:80%;
    border-radius:3px;
}
.navbar-fixed-top .navbar-inner {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
}
body{
    margin:80px;
}