<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!-- <add name="ConnectionString" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\C#\10-release1\library system-3\App_Data\Database.mdf";Integrated Security=True'/> -->
    <!--add name="ConnectionString" connectionString='Data Source=(LocalDB)\\MSSQLLocalDB;AttachDbFilename='F:\\学校事宜\\项目管理\\library system-3\\library system-3\\App_Data\\Database.mdf';Integrated Security=True'/-->
    <!--<add name="ConnectionString" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="E:\C#\A10-demo\library system-4\App_Data\Database.mdf";Integrated Security=True'/>-->
    <add name="ConnectionString" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="F:\学校事宜\项目管理\homework\final\A10\Project Source Code\App_Data\Database.mdf";Integrated Security=True'/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true"></directoryBrowse>
  </system.webServer>
</configuration>